@model IEnumerable<CorporatePaymentApplication.ViewModels.PaymentViewModelResult>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    From Date (Number Format (20180101))<input type="text" id="datevalue" /> <button onclick="getTransactions()"> Go</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UniqueInstanceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChequeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrCrIndicator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identifier)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UniqueInstanceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EffectiveDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChequeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrCrIndicator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identifier)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>

<script>
    function getTransactions() {
        var date = document.getElementById('datevalue').value;
        window.location.href = window.location.origin + '/transactions/get?datetime=' + date;
    }
</script>
